:root {
  --primary-text-color: #212121;
  --secondary-text-color: #ffffff;
  --accent-text-color: #757575;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --accent-color: #2196f3;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #2196f3;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* Site nav */
.site-nav a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.nav-contacts a {
  color: var(--accent-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-contacts a:hover,
.nav-contacts a:focus {
  color: var(--accent-color);
}

.section-title {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Футер */
.footer {
  background-color: #2f303a;
}

.address-street {
  color: var(--primary-bg-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.address-street a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-subtitle {
  color: var(--primary-bg-color);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.button {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
