/* Цвет основного текста #212121; */
/* цвет второго основного текста #FFFFFF */
/* цвет второстепенного текста #757575 */

/* бекграунд футер #2F303A */
/* бекграунд боди #FFFFFF */
/* бекграунд вторичный боди #F5F4FA */

/* цвет бекграунд кнопок #2196F3  */
/* цвет ховер эффект иконок, кнопок #2196F3  */

/* <!-- Секция герой --> */
.hero-slogan {
  /* color: var(--secondary-text-color); */
}

/* <!-- Секция преимущества --> */

.features-text {
  color: var(--accent-text-color);
}

/* <!-- Секция чем мы занимаемся --> */

.about-items .subtitle {
  /* color: var(--secondary-text-color); */
}

/* <!-- Секция Наша команда --> */
.team {
  background-color: var(--secondary-bg-color);
}
.team-item .function {
  color: var(--accent-text-color);
}

/* <!-- Секция постоянные клиенты -->


